/* selector */
/*{
    background-color: darkblue;
}*/

h1{
    color: blue;
}

h2{
    color: lightblue;
}

p{
    color: white;
}

.bilder #a{
    width: 100px;
    height: 300px;
}

#header{
    background-color: gray;
    text-align: center;
}

#header .lenker{
    display: flex;
    
}
#header .lenker p a{
    padding: 50px;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
}